{% extends 'learn/s.html' %}
{% load staticfiles %}
{% block body %}
    <div>{% if request.path|slice:'5' == '/yoyo'%}YOYO{% endif %}</div>
    <form action={% url 'yoyo:dj27' %} method="post" autocomplete="off">
        <label>用户名</label><input name="username" id="account_1" type="text" placeholder="手机号/邮箱" /><br/>
        <label>密&nbsp;&nbsp;&nbsp;码</label><input name="password" id="password_1" type="text" placeholder="密码" /><br/>
        <label>新密码</label><input name="password2" id="password_2" type="text" placeholder="新密码" /><br/>
        <label>确认密码</label><input name="password3" id="password_3" type="text" placeholder="新密码" /><br/>
        <input name="" id="" type="submit" value="修改密码" /><br/>
        <div>{{ msg }}</div>
    {% csrf_token %}
    </form>
{% endblock %}