{% extends 'learn/s.html' %}
{% load staticfiles %}
{% block body %}
    <form action="/learn/login/" method="post" autocomplete="off">
        <label>用户名</label><input name="username" id="account_1" type="text" placeholder="手机号/邮箱" /><br/>
        <label>密&nbsp;&nbsp;&nbsp;码</label><input name="password" id="password_1" type="text" placeholder="密码" /><br/>
        <input name="" id="" type="submit" value="立即登录" /><br/>
        <div>{{ msg }}</div>
    {% csrf_token %}
    </form>
{% endblock %}